html { overflow-y: hidden; }

body {
  font-size: 100%;
  font-family: SF Mono;
  width: 100%;
  background-color: #2F3242;
  display:flex; flex-direction:column; justify-content:center;
  min-height:100vh;
}
button{
    border-radius: 20px;
}